<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" style="font-size: 60px">How to use</h1>
                <div id="google_translate_element"></div>

                <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                            pageLanguage: 'en'
                        }, 'google_translate_element');
                    }
                </script>
                <h2 style="text-align: right">
                    powered by
                    <a href="https://openweathermap.org/" target="_blank">
                        <div class="prath">
                            <img style="width: 100px; height: 50px" src="../../static/logo.png" alt="" />
                        </div>
                    </a>

                    <img src="./images/logo.png" alt="" />
                </h2>
                <h3 style="display: inline; float: left; padding: 10px">
                    <a href="{% url 'home' %}"> Home </a>
                </h3>
                <h3 style="display: inline; float: left; padding: 10px">
                    <a href="{% url 'about' %}"> About </a>
                </h3>
                <h3 style="display: inline; float: left; padding: 10px">
                    <a href=" {% url 'help' %} "> How To </a>
                </h3>
            </div>
        </div>
    </section>
    <h2 style="
        font-size: 40px;
        padding-top: 50px;
        padding-left: 20px;
        font-weight: bold;
      ">
        How to operate this app
    </h2>
    <p style="padding-left: 20px; padding-top: 20px">
        1. You must added a new city for check the weather <br /> 2. If the city doesnt exist or city is exist the app will be give you some notification <br /> 3. Delete the each city data in the corner of the city weather information
        <br /> 4. Delete all the data city record before you go.
    </p>
    <p style="padding-left: 20px; padding-top: 50px; font-weight: bold">
        Thank you for using this app
    </p>
</body>

</html>